


#nombre {font-family: 'Tilt Warp', cursive;}

#dato {
font-family: 'Shantell Sans', cursive;
list-style: none;
font-size: xx-large;
}

#ancla {
    color: rgb(25, 0, 255);
    background-color: rgb(80, 226, 43);
}


